{% extends 'base.html' %}

{% block content %}

<div class="row h-100 p-5">
<div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
</div>
<div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
 <div class="card" style="width: 18rem;">
    <img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1193,w_2121,x_0,y_64/v1565279671/shape/mentalfloss/578211-gettyimages-542930526.jpg?itok=zmmJgd_3" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">CAT</h5>
        <p class="card-text"></p>
        <a href="dog/" class="btn btn-primary">CLICK HERE</a>
    </div>
 </div>

</div>
<div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
</div>
<div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
 <div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvJO7ohqSWuyZW7IS9Wrlm_olEECoFWhQsqA&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">DOG</h5>
        <p class="card-text"></p>
        <a href="cat/" class="btn btn-primary">CLICK HERE</a>
    </div>
 </div>

</div>
</div>

{% endblock %}